<div class="container p-3">
    <h2 class="text-primary text-center pb-5">
        Fitxa de client
    </h2>
    <div class="row pb-4">
        <div class="col-4">
            <div>
                Nom i cognoms : {{customer?.givenName}} {{customer?.familyName1}} 
            </div>
        </div>
        <div class="col-4">
            <div>
                Tipus de document : {{customer?.docType}}
            </div>
        </div>
        <div class="col-4">
            <div>
                Nombre de document : {{customer?.docNum}}
            </div>
        </div>
        <div class="col-4">
            <div>
                Correu electrònic : {{customer?.email}}
            </div>
        </div>
        <div class="col-4">
            <div>
                Telèfon : {{customer?.phone}}
            </div>
        </div>
    </div>
    <ngx-datatable
    class="material"
    [rows]="customer?.hiredProductList"
    [columnMode]="'flex'"
    [rowHeight]="'auto'"
    >
    <ngx-datatable-column [flexGrow]="1" name="Nom del producte" prop="productName"></ngx-datatable-column>
    <ngx-datatable-column [flexGrow]="1" name="Tipus de producte" prop="productTypeName"></ngx-datatable-column>
    <ngx-datatable-column [flexGrow]="1" name="Numeració terminal" prop="numeracioTerminal"></ngx-datatable-column>
    <ngx-datatable-column [flexGrow]="1" name="Data de venta" prop="soldAt"> </ngx-datatable-column>
    </ngx-datatable>
</div>